.main-icon {
  margin-bottom: 1%;
  position: relative;
  min-height: 1px;
  padding-right: 0.5%;
  padding-left: 0.5%;
}

.container {
  padding-right: 2%;
  padding-left: 20%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 7%;
  margin-bottom: 2%;
}

@media(max-width: 768px) {
  .container {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 10%;
  }
}
